li.product {
    list-style: none;
    border-bottom: solid 1px grey;
}

.category_container {
    display: flex;
    width: 100%;
    align-items: flex-end;
    height: 100%;
    margin-bottom: 20px;
}

.justify-center {
    justify-content: center;
}

.category_name {
    font-size: 40px;
    text-align: left;
    font-weight: 800;
}

.categroy_gram {
    font-size: 22px;
    font-weight: 800;
    height: 24px;
    text-align: right;
    line-height: 24px;
}

.product_name {
    width: 100%;
    font-size: 20px;
    text-align: left;
    font-weight: 800;
}

.product_price {
    font-size: 20px;
    font-weight: 800;
    text-align: right;
    line-height: 22px!important;
}

.product_content {
    font-size: 15px;
    font-weight: 100;
    height: 100%;
    text-align: left;
    margin-top: 10px;
    color: #F0FFFF;
    width: 100%;
}

.product_content_black {
    color: black;
}

.product_content span {
    margin-right: 10px;
}

.dark {
    background-color: black;
    color: white;
}

html {
    margin: 0!important;
    padding: 0!important;
}

ul {
    padding: 20px!important;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.spinner_container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20%
}
